html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.app__videos {
  position: relative;
  height: 800px;
  border-radius: 20px;
  width: 80%;
  max-width: 500px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  box-shadow: 20px 20px 80px rgba(255, 255, 255, 0.4);
}

/* to hide scroll bar */

/* fro chrome, safari, opera */
.app__videos::-webkit-scrollbar {
  display: none;
}
/* for  first(IE, edge), second firefox */
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
